<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>department</title>

</head>
<body>

	<th:block th:insert="Header.html"></th:block>

	<div class="container-fluid">

		<div class="card">
			<div class="card-header text-center bg-primary text-white "><h5>Department Form</h5></div>
			
			<div class="card-body">
			
			<form action="/department/add" method="post">
			
			   <div class="row p-2">
			      <div class="col-4">Department Name</div>
			      <div class="col-6">
			          <input type="text" name="dpt_name" class="form-control">
			      </div>
			   </div>
			   
			   <div class="row p-2">
			      <div class="col-4">Department Head(HoD)</div>
			      <div class="col-6">
			          <input type="text" name="dpt_head" class="form-control">
			      </div>
			   </div>
			   
			   <div class="row p-2">
			      <div class="col-4">Department Phone</div>
			      <div class="col-6">
			          <input type="text" name="dpt_phone" class="form-control" pattern="[1-9]{1}[0-9]{9}">
			      </div>
			   </div>
			   
			   <div class="row p-2">
			      <div class="col-4"></div>
			      <div class="col-6">
			          <input type="submit" value="Add" class="btn btn-success btn-lg">
			      </div>
			   </div>
			   
			</form>  
			   
			</div>
			
			<div class="card-footer text-center bg-warning ">copyright@2023</div>
		</div>

	</div>

</body>
</html>