<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>login</title>
</head>
<body>

    <h1>User Login</h1>
    <hr>
    
       <form action="/user/login" method="post">
       
          <p style="color:red"> [[${message}]] </p>
        
           UserName <input type="text"     name="username"> <br><br>
           Password <input type="password" name="password"> <br><br>
          			<input type="submit" value="Login">
       
       </form>
       
       <a href="/user/signup"> CreateNew Account </a>

</body>
</html>