<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>signup</title>
</head>
<body>

   <h1>Signup Form</h1>
   <hr>
   
    <form action="/user/signup" method="post">
    
    
       <p style="color:red"> [[${message}]] </p>
       
           FirstName <input type="text"    name="fname"> <br><br>
           LastName <input type="text"     name="lname"> <br><br>
           UserName <input type="text"     name="username"> <br><br>
           Email   <input type="email"     name="email"> <br><br>
           Password <input type="password" name="password"> <br><br>
           
          			<input type="submit" value="Signup">
       
       </form>
    
   
   
</body>
</html>